@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu/>
    </div>

    <div class="main">
        <div class="top-row px-4">
             <a href="/LogIn"><button style="margin: 10px" type="button" class="btn btn-primary">LogIn</button></a>
            <a href="/SignUp"><button style="margin: 10px" type="button" class="btn btn-success">SignUp</button></a>
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>