@using Entities
@using System.Text.Json
@inject IJSRuntime jsRuntime;
<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Food4U</a>
</div>

<div>
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">
                Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/Restaurants" Match="NavLinkMatch.All">
                Restaurants
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/MenuPage" Match="NavLinkMatch.All">
                Menu
            </NavLink>
        </li>
        <li class="nav-item px-3">
           <NavLink class="nav-link" href="/Orders" Match="NavLinkMatch.All">
                Orders
            </NavLink>
        </li>
    </ul>
</div>

@code {
    [Inject]
    public NavigationManager NavigationManager { get; set; }
    
    private Restaurant restaurant;
    
    public async Task ReadRestaurant()
    {
        string restaurantAsJson = await jsRuntime.InvokeAsync<string>("sessionStorage.getItem", "currentRestaurant");

        if (!string.IsNullOrEmpty(restaurantAsJson))
        {
            restaurant = JsonSerializer.Deserialize<Restaurant>(restaurantAsJson);
        }
    }
    
    
    private async Task OnOrders()
    {
        await ReadRestaurant();
        NavigationManager.NavigateTo("Orders/"+restaurant.Username);
    }
}