@using Entities
@using Client.Data.ItemService
@inject IItemServiceT1 itemService;

<div class="row" style="padding-left: 20px" xmlns="http://www.w3.org/1999/html">
    <div class="column">
        <a data-toggle="collapse" data-target="#@Category.Name.Replace(" ","")" role="button" aria-expanded="false" aria-controls="@Category.Name.Replace(" ","")">
            <h5>@Category.Name</h5>
        </a>
    </div>
</div>
<div class="collapse" id="@Category.Name.Replace(" ","")">
    <div class="row" style="padding-left: 20px">
        @foreach (Item item in items)
        {
            <ItemComponent Item="@item"></ItemComponent>
        }
    </div>
</div>
<hr>


@code {
    [Parameter]
    public Category Category { get; set; }

    private IList<Item> items = new List<Item>();

    protected override async Task OnInitializedAsync()
    {
        try
        {
            items = await itemService.GetItemsAsync(Category.CategoryId);
        }
        catch (Exception e)
        {
    // update some error label here, or show popup..
        }
    }
}