@page "/AddRestaurant"
@using Client.Data.RestaurantService
@using Entities
@inject IRestaurantService RestaurantService
<h3>Add Restaurant</h3>


<EditForm Model="@addNewRestaurantItem" OnValidSubmit="@AddNewRestaurant">
    <DataAnnotationsValidator/>
    <ValidationSummary/>
    <div class="form-group">Name of the restaurant:<br/>
        <InputText @bind-Value="addNewRestaurantItem.Name"/></div>
    
    <div class="form-group">Address of the restaurant:<br/>
        <InputText @bind-Value="addNewRestaurantItem.Address"/></div>
    
    <div class="form-group">Phone number of the restaurant:<br/>
        <InputText @bind-Value="addNewRestaurantItem.PhoneNumber"/></div>
    
    <div class="form-group">Opening hours: <br/>
        <p> Monday:<InputText @bind-Value="addNewRestaurantItem.OpeningHoursMonday"></InputText><br/>
            Tuesday:<InputText @bind-Value="addNewRestaurantItem.OpeningHoursTuesday"></InputText><br/>
            Wednesday:<InputText @bind-Value="addNewRestaurantItem.OpeningHoursWednesday"></InputText><br/>
            Thursday:<InputText @bind-Value="addNewRestaurantItem.OpeningHoursThursday"></InputText><br/>
            Friday:<InputText @bind-Value="addNewRestaurantItem.OpeningHoursFriday"></InputText><br/>
            Saturday:<InputText @bind-Value="addNewRestaurantItem.OpeningHoursSaturday"></InputText><br/>
            Sunday:<InputText @bind-Value="addNewRestaurantItem.OpeningHoursSunday"></InputText><br/>
        </p>
    </div>
    
    <div class="form-group">Description of restaurant:<br/>
        <InputText @bind-Value="addNewRestaurantItem.Description"/></div>
    
    <div class="form-group">Delivery options:<br/>
        First:
        Name: <InputText @bind-Value="addNewRestaurantItem.DeliveryOption1.DeliveryName"/><br/>
        Price: <InputNumber @bind-Value="addNewRestaurantItem.DeliveryOption1.Price"/><br/><br/>
        
        Second:
        Name: <InputText @bind-Value="addNewRestaurantItem.DeliveryOption2.DeliveryName"/><br/>
        Price: <InputNumber @bind-Value="addNewRestaurantItem.DeliveryOption2.Price"/><br/>
    </div>
    
    
    <p class="actions"><button class="btn btn-outline-dark" type="submit">Save</button></p>
</EditForm>




@code {
    private Restaurant addNewRestaurantItem = new ()
    {
        DeliveryOption1 = new Delivery(),
        DeliveryOption2 = new Delivery()
    };

    private void AddNewRestaurant()
    {
        Console.WriteLine("Sending");
        RestaurantService.AddRestaurantAsync(addNewRestaurantItem);
    }

}