@page "/EditRestaurant/{Id:int}"
@using Entities
@using Client.Data.RestaurantService
@inject IRestaurantService restaurantService;

<h3>EditRestaurant</h3>
@if (restaurant.Name != null) {
    <EditForm Model="restaurant" OnValidSubmit="EditExistingRestaurant">
        <DataAnnotationsValidator/>
        <ValidationSummary/>
        <div class="form-group">New name of the restaurant:<br/>
            <InputText @bind-Value="restaurant.Name"/></div>
    
        <div class="form-group">New address of the restaurant:<br/>
            <InputText @bind-Value="restaurant.Address"/></div>
    
        <div class="form-group">New phone number of the restaurant:<br/>
            <InputText @bind-Value="restaurant.PhoneNumber"/></div>
    
        <div class="form-group">New opening hours: <br/>
            <p> Monday:<InputText @bind-Value="restaurant.OpeningHoursMonday"></InputText><br/>
                Tuesday:<InputText @bind-Value="restaurant.OpeningHoursTuesday"></InputText><br/>
                Wednesday:<InputText @bind-Value="restaurant.OpeningHoursWednesday"></InputText><br/>
                Thursday:<InputText @bind-Value="restaurant.OpeningHoursThursday"></InputText><br/>
                Friday:<InputText @bind-Value="restaurant.OpeningHoursFriday"></InputText><br/>
                Saturday:<InputText @bind-Value="restaurant.OpeningHoursSaturday"></InputText><br/>
                Sunday:<InputText @bind-Value="restaurant.OpeningHoursSunday"></InputText><br/>
            </p>
        </div>
    
        <div class="form-group">New description of restaurant:<br/>
            <InputText @bind-Value="restaurant.Description"/></div>
    
        <div class="form-group">Delivery options:<br/>
            First:
            Name: <InputText @bind-Value="restaurant.DeliveryOption1.DeliveryName"/><br/>
            Price: <InputNumber @bind-Value="restaurant.DeliveryOption1.Price"/><br/><br/>
            
            Second:
            Name: <InputText @bind-Value="restaurant.DeliveryOption2.DeliveryName"/><br/>
            Price: <InputNumber @bind-Value="restaurant.DeliveryOption2.Price"/><br/>
        </div>
    
        <p class="actions"><button class="btn btn-outline-dark" type="submit">Save</button></p>
    </EditForm>
}


@code {
    [Parameter]
    public string Username { get; set; }
    
    private Restaurant restaurant = new ();
    
    protected override async Task OnInitializedAsync()
    {
        try
        {
            restaurant = await restaurantService.GetRestaurantsAsync(Username);
        }
        catch (Exception e)
        {
    // update some error label here, or show popup..
        }
    }
    
    private void EditExistingRestaurant()
        {
            restaurantService.EditRestaurantAsync(restaurant);
        }
}