@page "/Restaurant/{Id:int}"
@using Client.Components
@using Client.Data.RestaurantService
@using Entities
@inject IRestaurantService _restaurantService;

<h1>Welcome RestaurantName</h1>
<RestaurantInfoComponent Id=@Id> </RestaurantInfoComponent>  

@code {
    [Parameter]
    public int Id { get; set; }
    
}
