@page "/Restaurant/"
@using Client.Components
@using Client.Data.RestaurantService
@using Entities
@inject IRestaurantService restaurantService;
@inject NavigationManager NavigationManager;

@if (restaurant.Name != null)
{
    <h1>Welcome @restaurant.Name</h1>
}
<RestaurantInfoComponent Username=@username> </RestaurantInfoComponent>  

<button @onclick="NavigateToAddMenu">Add Menu</button>

@code {
    [Parameter]
    public string username { get; set; }
    
    
    private Restaurant restaurant = new ();
    
    protected override async Task OnInitializedAsync()
    {
        try
        {
            restaurant = await restaurantService.GetRestaurantsAsync(username);
        }
        catch (Exception e)
        {
           // update some error label here, or show popup..
        }
    }

    private void NavigateToAddMenu()
    {
        NavigationManager.NavigateTo("AddMenu");
    }
}
