@page "/Restaurant/{Id:int}"
@using Client.Components
@using Client.Data.RestaurantService
@using Entities
@inject IRestaurantService _restaurantService;

@if (_restaurant.Name != null)
{
    <h1>Welcome @_restaurant.Name</h1>
}
<RestaurantInfoComponent Id=@Id> </RestaurantInfoComponent>  

@code {
    [Parameter]
    public int Id { get; set; }
    
    
    private Restaurant _restaurant = new ();
    
    protected override async Task OnInitializedAsync()
    {
        try
        {
            _restaurant = await _restaurantService.GetRestaurantsAsync(Id);
        }
        catch (Exception e)
        {
    // update some error label here, or show popup..
        }
    }
}
