@page "/SignUp"
@using Components
@using Client.Components

  <h3 style="margin-bottom: 20px">Would you like to Sign up as ?</h3>
<EditForm Model="model">
    <InputRadioGroup @bind-Value="@model.SelectedUser">
        <div class="row">
            @foreach (var user in Users)
            {
                <div class="column" style="min-width: 150px; padding: 40px">
                    <div class="row">
                        <div class="column" style="padding-right: 10px">
                            <InputRadio Value="user"/>
                        </div>
                        <div class="column">
                            <h6>@user</h6>
                        </div>
                    </div>
                </div>

            }
        </div>
    </InputRadioGroup>
</EditForm>

@if (model.SelectedUser.Equals("Restaurant"))
{
    <RestaurantSignUp></RestaurantSignUp>
}

@if (model.SelectedUser.Equals("Customer"))
{
    <h3>Create a new customer</h3>
}

@if (model.SelectedUser.Equals("Driver"))
{
    <h3>Create a new driver</h3>
}



@code {
    List<String> Users = new List<String> { "Restaurant", "Customer", "Driver" };
    
    FormClass model = new FormClass();

    class FormClass
    {
        public  String SelectedUser { get; set; } = "Restaurant";
    }
}