@using Entities
@using Client.Data.ItemService
@inject IItemServiceT1 itemsService;

<div class="column" style="margin:10px ;min-width: 200px;max-width: 200px;">
    <div class="card" style="min-height: 300px; max-height: 300px">
        <div class="card-body">
            <a><h6>Add new item</h6></a>
            <hr>
            <div style="min-height: 160px; max-height: 160px">
                <a data-toggle="modal" data-target="#TestModal">
                    <svg width="150" height="120" viewBox="0 0 195 165" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_14_3)">
                    <rect width="195" height="165" fill="white"/>
                    <path d="M40.5 53.5C45.5 51 60.5 46.1 48.5 12.5C57.3333 25.5 68.1 51.9 40.5 53.5Z" stroke="black"/>
                    <path d="M41.0223 3H34.9881C30.0963 3 25.9111 6.53654 25.0829 11.3577C23.1352 22.695 20.6411 37.547 21.0431 42.0321C22.3625 56.7547 33.483 54.7004 36.4987 70.1078C36.1971 73.2578 36.4987 85.8576 33.483 92.0206C33.2317 112.278 32.8798 153.993 33.483 158.786C34.0861 163.579 38.7605 164.778 41.0223 164.778V3Z" fill="url(#paint0_linear_14_3)"/>
                    <path d="M40.9793 3H47.0108C51.9033 3 56.0888 6.53743 56.9162 11.3594C58.8639 22.7096 61.3589 37.5826 60.9569 42.0734C59.6377 56.8116 48.518 54.7551 45.5025 70.1788C45.8041 73.3321 45.5025 85.9453 48.518 92.1148C48.7693 112.394 49.1211 154.152 48.518 158.951C47.9149 163.749 43.2409 164.778 40.9793 164.778V3Z" fill="url(#paint1_linear_14_3)"/>
                    <path d="M30.4244 3H34.1941V46.8255H28.5396L30.4244 3Z" fill="white"/>
                    <rect x="39.0942" y="3" width="3.76967" height="43.8255" fill="white"/>
                    <path d="M47.3877 3H51.1574L52.8537 46.8255H47.3877V3Z" fill="white"/>
                    <path d="M178 96.7698C162.683 110.863 165.901 118.211 169.624 122.125H154.068V3C173.214 7.69767 178 67.4706 178 96.7698Z" fill="url(#paint2_linear_14_3)"/>
                    <path d="M154.068 122.125H169.624L169.556 157.064C169.556 161.016 166.074 164.22 161.778 164.22C157.482 164.22 154 161.016 154 157.064L154.068 122.125Z" fill="url(#paint3_linear_14_3)"/>
                    <circle cx="102" cy="92" r="49" fill="url(#paint4_linear_14_3)"/>
                    <path d="M107.715 87.8652H127.539V96.4102H107.715V118.871H98.6328V96.4102H78.8086V87.8652H98.6328V67.1133H107.715V87.8652Z" fill="white"/>
                    </g>
                    <defs>
                    <linearGradient id="paint0_linear_14_3" x1="41.5447" y1="3" x2="41.5447" y2="164.949" gradientUnits="userSpaceOnUse">
                    <stop stop-color="#FC5E43"/>
                    <stop offset="1" stop-color="#EA3F51"/>
                    </linearGradient>
                    <linearGradient id="paint1_linear_14_3" x1="41.5447" y1="3" x2="41.5447" y2="164.949" gradientUnits="userSpaceOnUse">
                    <stop stop-color="#FC5E43"/>
                    <stop offset="1" stop-color="#EA3F51"/>
                    </linearGradient>
                    <linearGradient id="paint2_linear_14_3" x1="166.034" y1="3" x2="166.034" y2="183.567" gradientUnits="userSpaceOnUse">
                    <stop stop-color="#FC5E43"/>
                    <stop offset="1" stop-color="#EA3F51"/>
                    </linearGradient>
                    <linearGradient id="paint3_linear_14_3" x1="166.034" y1="3" x2="166.034" y2="183.567" gradientUnits="userSpaceOnUse">
                    <stop stop-color="#FC5E43"/>
                    <stop offset="1" stop-color="#EA3F51"/>
                    </linearGradient>
                    <linearGradient id="paint4_linear_14_3" x1="102" y1="43" x2="102" y2="141" gradientUnits="userSpaceOnUse">
                    <stop stop-color="#F85747"/>
                    <stop offset="1" stop-color="#ED444F"/>
                    </linearGradient>
                    <clipPath id="clip0_14_3">
                    <rect width="195" height="165" fill="white"/>
                    </clipPath>
                    </defs>
                    </svg>

                </a>
            </div>
        </div>
    </div>
</div>


<!-- Modal for creating new Item -->
<div class="modal fade" id="TestModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">New item</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <EditForm Model="@newItem" OnValidSubmit="@AddItem">
            <div class="modal-body">
                <div style="padding-bottom: 10px">
                    <InputText placeholder="Enter name of item" class="form-control" @bind-Value="newItem.Name"/>
                </div>
                <div style="padding-bottom: 10px">
                    <InputTextArea placeholder="Enter its description" class="form-control" @bind-Value="newItem.Description"/>
                </div>
                <div style="padding-bottom: 10px">
                    <InputNumber placeholder="Enter the price" class="form-control" @bind-Value="newItem.Price"/>
                </div>
            </div>
            <div class="modal-footer">
                <p class="actions"><button class="btn btn-secondary" data-dismiss="modal">Cancel</button></p>
                <p class="actions"><button class="btn btn-success" type="submit">Add item</button></p>
            </div>
            </EditForm>
        </div>
    </div>
</div>


@code {
    [Parameter]
    public int CategoryId { get; set; }
    private Item newItem = new Item();
    
    private void AddItem()
    {
        newItem.CategoryId = CategoryId;
        itemsService.AddItemAsync(newItem);
    }

}