<div class="card">
  <div class="card-body">
      <div class="form-group">
          <h4>Information:</h4>
          <div class="row">
              <div class="column" style="padding-left: 30px">
                  <h6>Adress:</h6> 
              </div>
              <div class="column" style="padding-left: 10px;">
                  Some address
              </div>
          </div>
          <div class="row">
              <div class="column" style="padding-left: 30px">
                  <h6>Phone number:</h6>
              </div>
              <div class="column" style="padding-left: 10px;">
                  09765456
              </div>
          </div>
          <a data-toggle="collapse" data-target="#collapseOpeningHours" role="button" aria-expanded="false" aria-controls="collapseOpeningHours">
              <h5>Openning Hours</h5>
          </a>
          <div class="collapse" id="collapseOpeningHours">
              <div class="row">
                  <div class="column" style="padding-left: 30px">
                      <h6>Monday:</h6>
                  </div>
                  <div class="column" style="padding-left: 10px;">
                      7:00-20:00
                  </div>
              </div>
              <div class="row">
                  <div class="column" style="padding-left: 30px">
                      <h6>Tuesday:</h6>
                  </div>
                  <div class="column" style="padding-left: 10px;">
                      7:00-20:00
                  </div>
              </div>
              <div class="row">
                  <div class="column" style="padding-left: 30px">
                      <h6>Wednesday:</h6>
                  </div>
                  <div class="column" style="padding-left: 10px;">
                      7:00-20:00
                  </div>
              </div>
              <div class="row">
                  <div class="column" style="padding-left: 30px">
                      <h6>Thurday:</h6>
                  </div>
                  <div class="column" style="padding-left: 10px;">
                      7:00-20:00
                  </div>
              </div>
              <div class="row">
                  <div class="column" style="padding-left: 30px">
                      <h6>Friday:</h6>
                  </div>
                  <div class="column" style="padding-left: 10px;">
                      7:00-20:00
                  </div>
              </div>
              <div class="row">
                  <div class="column" style="padding-left: 30px">
                      <h6>Saturday:</h6>
                  </div>
                  <div class="column" style="padding-left: 10px;">
                      7:00-20:00
                  </div>
              </div>
              <div class="row">
                  <div class="column" style="padding-left: 30px">
                      <h6>Sunday:</h6>
                  </div>
                  <div class="column" style="padding-left: 10px;">
                      7:00-20:00
                  </div>
              </div>
          </div>
          <a data-toggle="collapse" data-target="#collapseDelivery" role="button" aria-expanded="false" aria-controls="collapseDelivery">
              <h5>Delivery info</h5>
          </a>
          <div class="collapse" id="collapseDelivery">
              <div class="row">
                  <div class="column" style="padding-left: 30px">
                      <h6>Delivery name</h6>
                  </div>
                  <div class="column" style="padding-left: 10px;">
                      100dkk
                  </div>
              </div>
              <div class="row">
                  <div class="column" style="padding-left: 30px">
                      <h6>Delivery name</h6>
                  </div>
                  <div class="column" style="padding-left: 10px;">
                      200dkk
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>

@code {
    
}