@using Entities
@using System.Text.Json
@using Food4U_SEP3.Models
@inject IJSRuntime jsRuntime;

<div class="modal fade" id="ShoppingCart" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Shopping cart</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                
                @if (ShoppingCartList != null)
                {
                    @if (ShoppingCartList.Count > 0)
                    {
                            foreach (Item item in ShoppingCartList)
                        {
                            <!-- Card with item -->
                            <ItemShoppingList Item="item" OnClick="ClickDelete"></ItemShoppingList>
                            
                            
                            
                            <!-- Card with item -->
                        }
                        
                        //Comment section
                        <input  class="form-control" @bind-value="comment"  rows="3" placeholder="Any comment or wishes?">
                        
                    }
                    else 
                    {
                        <h6>Shopping cart is empty</h6>
                    }
                }
                else 
                {
                    <h6>Shopping cart is empty</h6>
                }

            </div>
            <div class="modal-footer">
                <p class="actions"><button class="btn btn-secondary btn-sm" data-dismiss="modal">Cancel</button></p>
                @if (ShoppingCartList != null)
                {
                    @if (ShoppingCartList.Count > 0)
                    {
                        <p class="actions"><button @onclick="OnContinue" class="btn btn-primary btn-sm" data-dismiss="modal">Continue</button></p>
                    }
                    
                }
            </div>
        </div>
    </div>
</div>

@code{
    [Parameter]
    public IList<Item> ShoppingCartList { get; set; }
    
    [Inject]
    public NavigationManager NavigationManager { get; set; }

    private Customer customer;
    private String comment;
    
    public async Task ReadCustomer()
    {
        string customerAsJson = await jsRuntime.InvokeAsync<string>("sessionStorage.getItem", "currentCustomer");
        Console.WriteLine(customerAsJson);
        
        if (!string.IsNullOrEmpty(customerAsJson))
        {
            customer = JsonSerializer.Deserialize<Customer>(customerAsJson);
        }
    }
    
    
    
    public async Task SaveComment()
    {
        string serialisedData = JsonSerializer.Serialize(comment);
        await jsRuntime.InvokeVoidAsync("sessionStorage.setItem", "orderComment", serialisedData);
    }
    

    private async Task OnContinue()
    {
        await ReadCustomer();
        await SaveComment();
        NavigationManager.NavigateTo("Order/"+customer.Username);
    }

    async void ClickDelete(Item item)
    {
        ShoppingCartList.RemoveAt(ShoppingCartList.IndexOf(item));
        string serialisedData = JsonSerializer.Serialize(ShoppingCartList);
        await jsRuntime.InvokeVoidAsync("sessionStorage.setItem", "shoppingCart", serialisedData);
    }
    


}